<h1>Task Manager</h1>
<% @tasks.each do |task| %>
<p><%= check_box_tag("check", value = true, checked = task.completed, disabled: true) %>&nbsp;
<%= link_to "#{task.title}", task_path(task) %> <%= link_to '[ edit ]', task_edit_path(task.id) %> <%= link_to "[ delete ]", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %><br>
  <%= task.details %> (<%= task.completed %>)</p>
<% end %>
<%= link_to "Create Task", tasks_new_path, class: 'btn btn-info' %>
<i class="fas fa-edit"></i>
