<div class="container card bg-white mt-3 w-25">
  <h2><%= @task.title %></h2>
  <h4><%= @task.details %></h4>

  <%= link_to task_edit_path(@task), class: 'mr-2' do %>
  <%= icon('fas', 'edit')%> Edit
  <% end %>
  <%= link_to task_path(@task), method: :delete, data: { confirm: "Are you sure?" } do %>
  <%= icon('fas', 'trash-alt')%> Delete
  <% end %>
  <br>
  <%= link_to tasks_path do %>
  <%= icon('fa', 'undo')%> Back to All Tasks
  <% end %>
</div>
